.navbar {
    box-shadow: 0px 0px 30px 1px;
    position: sticky;
    top: 0px;
    background-color: #AAC8F8;
  }
  
  .navbar_right {
    justify-content: end;
  }
  
  Nav {
    font-size: 17px;
    font-weight: 700;
  }